arxiv
arxiv2text
chromadb
crewai
crewai_tools
devtools
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/openai/swarm.git
ipykernel
langchain
langchain_experimental
langchain_groq
langchain_ollama
langchain_openai
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langgraph
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-readers-file
llama-index-tools-wolfram-alpha
llmonitor
matplotlib
nbformat
nest_asyncio
pandas
pdfplumber
pydantic-ai
pydantic-ai-slim[openai,groq,logfire]
pymupdf
pyPDF2
sentence_transformers
tavily-python
torch
transformers

smolagents
scikit-learn
litellm
