arxiv2text
arxiv
chromadb
crewai
crewai_tools
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/openai/swarm.git

ipykernel
langchain
langchain_experimental
langchain_groq
langchain_huggingface
langchain_openai
langchain_ollama
langchain-chroma
langchain-community
langchain-core
langgraph
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-readers-file
llama-index-tools-wolfram-alpha
llmonitor
matplotlib
nbformat
pandas
pdfplumber
pymupdf
pyPDF2
sentence_transformers
torch
transformers
